@media screen and (max-width: 1200px) {
  .container {
    max-width: 95%;
  }

  .navbar {
    margin-right: 0;
  }

  .slider-body,
  .lower-slider-body,
  .accordion-body,
  .images-collection-body,
  .p-collection-body,
  .list-collection-body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .left-button {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .accordion-left {
    float: none;
    width: 100%;
  }

  .accordion-right {
    float: none;
    width: 50%;
  }
}

@media only screen and (max-width: 894px) {
  .lower-slider-left {
    width: 100%;
    float: none;
  }

  .lower-slider-right {
    width: 100%;
    height: auto;
    float: none;
    margin-top: 80px;
  }

  .lower-sidebar-gallery {
    float: right;
    width: 70%;
    height: auto;
    padding-top: 0px;
  }

  .lower-r-slider {
    width: 25%;
    float: left;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  /* header */

  .site-logo {
    margin-left: 35%;
    padding: 0px 0px 20px 10px;
  }

  .navbar ul li {
    padding: 0px 20px;
  }

  .navbar ul li:last-of-type {
    margin-top: 10px;
    margin-left: 44%;
  }

  .list-collection-c1,
  .list-collection-c2,
  .list-collection-c3,
  .list-collection-c4 {
    width: 50%;
  }

  .readmore-left,
  .readmore-right {
    width: 100%;
  }

  .rm-button {
    left: 18%;
  }

  /* footer */

  .footer-content {
    padding: 48px -1px 45px 0px;
  }

  .content {
    width: 44%;
  }

  .company {
    width: 40%;
    margin-left: 10%;
  }

  .company ul {
    padding: 30px;
  }

  .community {
    width: 33%;
    float: right;
    padding: 0 8.17%;
    margin: 4%;
  }

  .community ul {
    padding: 30px;
  }

  .from-blog {
    padding: 0 0.56%;
    margin: 4% 0;
  }

  .blog-status {
    width: 61.53%;
  }
}

@media only screen and (max-width: 700px) {
  .l-r-right-button,
  .l-r-left-button {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .eye {
    left: 29.33%;
  }

  .image-hide p {
    left: 25%;
  }

  .down-image {
    height: 200px;
  }
}

@media only screen and (max-width: 490px) {
  .list-collection-c1,
  .list-collection-c2,
  .list-collection-c3,
  .list-collection-c4 {
    width: 100%;
  }

  .p1-wrapper,
  .p2-wrapper,
  .p3-wrapper,
  .p4-wrapper,
  .p5-wrapper {
    width: 100%;
  }

  .p1-wrapper p,
  .p2-wrapper p,
  .p3-wrapper p,
  .p4-wrapper p,
  .p5-wrapper p {
    padding-right: 0px;
  }

  .upper-slider-body a.left-button,
  a.right-button {
    top: 35%;
  }

  .accordion-right {
    width: 100%;
    margin-top: 50px;
  }

  .read-more {
    width: 100%;
  }

  .up-image {
    width: 50%;
    height: 50vw;
  }

  .eye {
    left: 36.33%;
  }

  .image-hide p {
    left: 34%;
  }

  .image1,
  .image3 {
    margin-left: 22%;
  }

  .image2,
  .image4 {
    margin-left: 22%;
  }

  .image5 {
    margin-left: 0px;
  }

  .image-show img {
    height: 50vw;
  }

  .down-image {
    width: 100%;
  }

  .image6 {
    margin-right: 0px;
  }

  .image-hide-low {
    height: 50vw;
  }
}

@media screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }

  /* header part */

  .current-page {
    font-size: 18px;
  }

  .top-info {
    margin: 0;
  }
  .container {
    max-width: 80%;
  }
  .site-logo {
    margin-left: 0;
    padding: 3px 0px 9px 10px;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }

  .navbar {
    display: none;
  }

  .burger-menu {
    float: right;
  }

  .burger-menu:hover + .navbar {
    display: block;
  }

  .navbar ul li {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 -18px;
  }

  .navbar ul li.active {
    width: 100%;
    background-size: 100% 100%;
  }

  .navbar ul li.active a {
    display: inline;
    float: none;
  }

  .navbar ul li span {
    float: none;
  }

  .navbar ul li:last-of-type {
    margin-left: -15px;
  }

  /* header end */

  .lower-r-slider {
    width: 100%;
  }

  .l-r-slider-wrapper {
    width: 75%;
    margin: 0 auto;
  }

  .l-r-right-button,
  .l-r-left-button {
    display: block;
  }

  .lower-sidebar-gallery {
    width: 100%;
    padding-top: 50px;
  }

  .eye {
    left: 28%;
  }

  .image-hide p {
    left: 25%;
  }

  .eye-low {
    left: 40%;
  }

  .image-hide-low p {
    left: 38%;
  }

  .r-col-content-details {
    width: 70%;
  }

  ul.image-gallery li {
    padding-left: 22px;
    padding-top: 18px;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
  }

  /* footer */

  .content {
    width: 100%;
  }

  .company {
    display: none;
  }

  .community {
    display: none;
  }

  .from-blog {
    width: 100%;
    margin-top: 10%;
    margin-bottom: -15%;
  }

  .blog-status {
    width: 73.53%;
  }
}

@media only screen and (max-width: 320px) {
  .upper-slider-body a.left-button,
  a.right-button {
    top: 28%;
  }

  .up-image {
    width: 80%;
    height: 72vw;
    margin-left: 0px;
    margin-right: 0px;
  }

  .image1,
  .image3 {
    margin-left: 10%;
  }

  .image2,
  .image4 {
    margin-right: 10%;
  }

  .eye {
    left: 33%;
  }

  .image-hide p {
    left: 31%;
  }

  .image-hide-low {
    height: 58vw;
  }

  .image-show img {
    height: 58vw;
  }

  .eye-low {
    left: 37%;
  }

  .image-hide-low p {
    left: 34%;
    bottom: 15%;
  }
}
