/* header navbar */

.navbar-list ul {
  list-style: none;
}

.navbar-list ul li {
  float: left;
  width: auto;
}

.navbar ul {
  padding: 0px 6px;
  display: table;
  content: "";
  font-weight: 600;
  color: #fff;
}

.navbar ul li {
  padding: 0px 28px;
}

.navbar ul li:hover {
  background: url(../images/active.png) no-repeat;
  width: 66px;
  text-align: center;
  /* margin: 0px 2px; */
}

.navbar ul li:last-of-type {
  font-weight: 500;
}

.navbar ul li a {
  display: block;
  color: #fff;
}

.navbar ul li.active {
  background: url(../images/active.png) no-repeat;
  text-align: center;
  padding: 0px 15px;
  width: 90px;
}

.navbar ul li.active a {
  float: right;
}

.navbar ul li a i {
  line-height: 33px;
}

.navbar ul li span {
  display: none;
  float: left;
}

.navbar ul li.active span {
  display: inline;
}

.navbar ul li:last-of-type {
  background-image: none;
  margin: 0px;
  width: auto;
}

/* header bottom breadcrumb and title */
.page-title {
  padding: 29px 0px 27px 0px;
}

.current-page {
  font-size: 20px;
  float: left;
  padding: 0px 10px;
  line-height: 1.2;
  color: #7f8c8c;
}

.breadcrumb ul {
  font-size: 12px;
  line-height: 1.2;
  padding: 0px 3px;
  display: table;
}

.breadcrumb ul li {
  padding: 0px 9px;
}

.breadcrumb ul li:last-of-type {
  padding: 0px 0px 0px 9px;
}

.breadcrumb ul li + li {
  background: url(../images/back-slash.png) no-repeat 0% 65%;
}

.breadcrumb ul li a:hover {
  color: red;
}

.list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.list ul li {
  width: auto;
  float: left;
}

/* header traingle shape */
.header-bottom-shape {
  width: 23px;
  height: 12px;
  position: absolute;
}

/* footer styling */
.content .site-info {
  font-size: 13px;
  line-height: 1.8;
  text-align: left;
  padding: 6.11% 0px;
}

.contact-label {
  font-size: 13px;
  line-height: 1.8;
  text-align: left;
}

.footer-header ul {
  list-style: none;
  margin: 0px;
  padding: 25.86% 12.93% 7.35% 12.93%;
}

.footer-header ul li {
  font-size: 13px;
  line-height: 1.8;
}

.footer-header p {
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  font-weight: 700;
  color: #7f8c8c;
}

.footer-header ul li:before {
  content: ">";
  padding: 0px 10px;
}

.footer-header ul li a {
  color: #fff;
}

.blog-post-list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.blog-post:first-of-type {
  padding: 25px 0px 10px 0px;
}

.blog-image {
  width: 70px;
  float: left;
}

.blog-status {
  width: 73.53%;
  float: right;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
}

.blog-status span {
  color: #7f8c8c;
}

.footer-nav ul {
  list-style: none;
  margin: 0px;
  padding: 25.86% 12.93% 7.35% 12.93%;
}

.footer-nav ul li {
  font-size: 13px;
  line-height: 1.8;
}

.footer-nav p {
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  font-weight: 700;
  color: #7f8c8c;
}

.footer-nav ul li:before {
  content: ">";
  padding: 0px 10px;
}

.footer-nav ul li a {
  color: #fff;
}

.social-icon-group ul li {
  padding: 0px 15px;
}

.social-icon-group ul li:last-child {
  padding: 0px 0px 0px 15px;
}

.social-icon-group ul li a {
  color: #fff;
}

.copyright {
  font-size: 12px;
  line-height: 51px;
}

.social-list-manage ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.social-list-manage ul li {
  width: auto;
  float: left;
}

.company ul {
  list-style: none;
}
