* {
  margin: 0;
  padding: 0;
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
}

.link-hover {
  font-size: 10px;
}

.price-linethrough {
  font-size: 10px;
  text-decoration: line-through;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
}

/* float clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
