@media (max-width: 650px) {
  .landing img {
    width: 70%;
  }

  .landing h1 {
    font-size: 40px;
  }

  .countdown {
    font-size: 30px;
    flex-direction: column;
  }

  .countdown div {
    display: none;
  }

  .countdown div:first-child {
    display: block;
    width: 80%;
    padding: 10px;
  }
}

@media (max-height: 600px) {
  img {
    width: 20% !important;
  }
  p {
    display: none;
  }
}

@media (max-height: 400px) {
  img {
    padding-bottom: 30px;
  }
  h1 {
    display: none;
  }
}
