@media screen and (max-width: 1100px) {
  .header-wrapper {
    padding-bottom: 100px;
  }

  .cart-item-title {
    right: -40px;
  }

  .header-top-content {
    margin-bottom: 80px;
  }

  .navbar-wrapper ul {
    display: none;
  }

  .container {
    width: 80%;
  }

  .products-items {
    width: 30%;
    margin-right: 3.3333%;
    margin-bottom: 50px;
  }

  .products-collection-button {
    position: absolute;
    top: 40%;
    left: 20%;
  }

  .products-slider-arrow {
    margin-bottom: 80px;
  }

  .latest-furniture-items {
    width: 40%;
    margin-left: 50px;
    margin-right: 30px;
  }

  .why-choose-content-right {
    margin-top: 30px;
  }

  .latest-posts-content {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .latest-posts-items {
    width: 40%;
    margin-left: 50px;
    margin-right: 30px;
  }

  .latest-posts-date {
    margin-right: 5px;
  }

  .latest-posts-description {
    float: left;
    width: 80%;
  }

  .latest-posts-description li {
    margin-right: 3px;
  }

  .get-discount-content-right {
    margin-top: 60px;
  }

  .collection-content {
    margin-top: 80px;
    margin-bottom: 10px;
  }

  .collection-tags {
    margin: 0 auto;
    margin-top: 39px;
  }

  .collection-tags ul li {
    margin-right: 3px;
    margin-left: 8px;
  }

  .collection-posts {
    margin-top: 40px;
  }

  a.collection-posts-items {
    width: 40%;
    margin-right: 80px;
  }

  .contact-wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .contact-left {
    float: none;
    width: 100%;
  }

  .contact-address,
  .contact-phone-no,
  .contact-email-us {
    display: inline-block;
    width: 30%;
    margin-bottom: 50px;
  }

  .footer-content {
    margin-top: -100px;
    margin-bottom: 130px;
  }

  .footer-latest-products,
  .top-seller {
    display: none;
  }

  .social-links-about,
  .instagram-feed {
    width: 40%;
    margin-left: 90px;
    margin-right: 30px;
  }

  .instagram-items {
    margin-top: 25px;
  }

  .container-designer {
    padding-top: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .header-top-content {
    padding-top: 40px;
  }

  .featured-products {
    width: 80%;
    margin: 0 auto;
    max-height: 50px;
  }

  .slider.featured-left-slider {
    top: 45%;
    left: 6%;
  }

  .slider.featured-right-slider {
    top: 45%;
    right: 3%;
  }

  .products-title,
  .products-price,
  .products-color-alter {
    float: left;
    width: 25%;
    margin-left: 45px;
  }

  .products-title h3,
  .products-price h3,
  .products-color-alter h3 {
    font-size: 12px;
  }

  .products-title p,
  .products-price p,
  .products-color-alter p {
    font-size: 11px;
  }

  .products-items {
    margin-top: -50px;
  }

  .products-collection-button {
    position: absolute;
    top: 40%;
    left: 3%;
  }

  .products-slider-arrow {
    margin-bottom: 20px;
  }

  .latest-furniture-items {
    width: 40%;
    margin-left: 0;
    margin-right: 60px;
    margin-bottom: -18px;
  }

  .why-choose-wrapper {
    margin-top: 50px;
  }

  .why-choose-content-right {
    width: 60%;
  }

  .latest-posts-content {
    margin-top: 50px;
  }

  .latest-posts-items {
    width: 95%;
    margin-top: 30px;
  }

  .latest-posts-image {
    width: 90%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .latest-posts-details {
    width: 100%;
  }

  .latest-posts-date {
    margin-left: 50px;
    margin-right: 20px;
  }

  .latest-posts-description {
    margin-left: 30px;
  }

  .collection-content {
    margin-top: 40px;
  }

  .collection-tags ul li {
    margin-right: 3px;
    margin-left: 0px;
  }

  .collection-posts {
    margin-top: 30px;
  }

  a.collection-posts-items {
    width: 100%;
    display: block;
  }

  .collection-posts-image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .contact-wrapper {
    margin-top: 20px;
  }

  .contact-address,
  .contact-phone-no,
  .contact-email-us {
    width: 32%;
    margin-top: 15px;
  }

  .contact-left h5 {
    font-size: 11px;
  }

  .contact-left p.h5-light {
    font-size: 11px;
  }

  .contact-right {
    width: 90%;
    float: none;
  }

  .social-links-about,
  .instagram-feed {
    float: left;
    width: 50%;
    margin-left: 0px;
    margin-right: 15px;
  }

  #scrollUp {
    right: 30px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 80%;
  }

  .header-wrapper {
    padding-bottom: 10px;
  }

  .header-top-content {
    padding-top: 22px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 24px;
    margin-right: 15px;
  }

  .header-logo {
    width: 25%;
    float: left;
    padding-top: 2px;
  }

  .header-logo a img {
    width: 100%;
  }

  .header-nav {
    padding-left: 20px;
    width: 65%;
    float: right;
  }

  .header-nav ul {
    float: right;
  }

  .header-nav ul li {
    width: 20px;
    padding-left: 20px;
  }

  .header-nav ul li a img {
    width: 100%;
  }

  .cart-item-count {
    display: none;
  }

  .cart-item-title {
    display: none;
  }

  .featured-products {
    border: 3px solid #f9bf12;
    max-height: 25px;
  }

  .slider.featured-left-slider {
    display: none;
  }

  .slider.featured-right-slider {
    display: none;
  }

  .featured-products-top {
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
  }

  .featured-products-title h1 {
    font-size: 17px;
  }

  .featured-products-button {
    float: none;
    position: absolute;
    top: 250px;
    right: -5px;
  }

  .products-title,
  .products-price,
  .products-color-alter {
    float: left;
    width: 15%;
    margin-left: 34px;
  }

  .products-items:nth-of-type(3n + 3) {
    float: none;
    display: block;
    width: 100%;
  }

  .products-items h4 {
    padding-top: 15px;
  }

  .products-collection-button {
    position: absolute;
    top: 45%;
    left: 20%;
  }

  .why-choose-content-right {
    float: none;
    width: 100%;
    margin-left: -20px;
  }

  .why-choose-content-right h2 {
    font-size: 20px;
  }

  .latest-posts-items {
    width: 100%;
    margin-left: 0;
  }

  .latest-posts-image {
    width: 100%;
  }

  .latest-posts-date {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .latest-posts-description {
    float: left;
    width: 70%;
    margin-left: 5px;
  }

  .get-discount-wrapper {
    background: #1c1105;
  }

  .get-discount-content-right {
    float: none;
    width: 100%;
    margin-left: 0;
    padding-top: 30px;
  }

  .collection-tags ul li {
    margin-left: 18px;
    margin-top: 8px;
  }

  .contact-wrapper {
    margin-left: 0px;
    margin-right: 0px;
  }

  .contact-left {
    float: none;
  }

  .contact-right {
    float: none;
  }

  .instragram-feed {
    display: none;
  }

  .social-links-about {
    width: 100%;
  }

  .footer-social-links {
    margin-top: 15px;
  }
}
